.accordion-wrapper{
	
	
	

	.accordion {
		margin-bottom: $space;
		background:white;
		padding:0;
		cursor:pointer;	
		overflow:hidden;
		color:$gray;
		text-align:left;

		
		h2{
			padding:10px;
			padding:1rem;
			float:left;
			@media all and (max-width: $bp-med) {
				font-size: 1.2em;
			}
			@media all and (max-width: 540px) {
				width:75%;
				font-size: 1em;
				//border-right:1px solid;
				//min-height:80px;
			}
			
		}

		.icon{
			@media all and (max-width:540px) {
				border-left:none;
				margin-left:0;
				width:25%;
				text-align:center;
			}

			//border-left:1px solid;
			padding:10px;
			padding:1rem;
			line-height: 1.2;
			float:right;
			&:after{
				content:"a";
			}
			
			font-size:1.4em;

			font-family: ims-diabetes

			}

		.quote{
			font-family: 'Merriweather', serif;
			opacity: 0; 
		    height: 0;
		    overflow: hidden;

			padding:0;
			background-color:$gray-light-2;
			width:100%;
			color:$gray;
		
		
			text-align:center;
		
			-moz-opacity:0;
			-ms-transform:  all .3s ease;
		    -webkit-transform: all .3s ease;
		    transform: all .3s ease;
		     -moz-transition: all .3s ease;
		   

			i{
				font-size:1.4em;
				width:80%;
				margin:0 auto;
				display:block;
				
				@media all and (max-width:$bp-med) {
					font-size:1em;
				}

			}
		}

	}
		
	.open{
		
		background:$gray;
		color:white;
	}

	.open > .quote{
			opacity:1;
			display:block;
			
			height:auto;
			
			padding:2em 0;
			visability:visible;


		}

	.open > .icon{
				
		&:after{
			content:"b";
		}

		 font-family: ims-diabetes;

	}

	.acc-handle {
		background: $gray-dark-2;
		color: $white;
		font-family: $font-secondary;
		font-weight: bold;
		display: block;
		position: relative;
		padding: $pad-half;
		border-bottom: 1px solid $gray-light-3;

		&:after {
			content:"+";
			float: right;
		}
			
		&:hover {
			color: $white;
			background: $gray-dark;

		}
		
		&.active {
			background: $gray-dark;

			&:after {
				content:"-";
			}
		}

	}
}

.dm .accordion{
	background:$gray-light-2;
	color:$gray;
	
}

.dm .open{
	background:#fed3cd;
}

.pe .accordion{
	background:$ims-coral;
	color:white;
	h2{
		color:white;
	}
}

.pe .open{
	background:$gray;
	.quote{
		background:white;
	}
}


