/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
	background: #dcdddc;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid $gray-light-2;
}

/* Block */
.block {
	overflow: hidden;

	p:last-child {
		margin-bottom: 0;
	}
}

.headline {
	line-height: 1.2;
}

/* Hero Block */
.block-hero {
	margin-bottom: $space-half;

	.b-thumb {
		img {
			display: block;
		}
	}

	@media all and (min-width: $bp-large) {
		position: relative;

		.b-text {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $dim;
			color: $white;
			padding: $pad-and-half;
		}
	}
}

/* Block Thumbnail with Headline */
.block-thumb {
	display: table;
	width: 100%;
	border-collapse: collapse;

	.b-inner {
		display: table-row;
		vertical-align: top;
  		overflow: hidden;
	}

	.b-thumb {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			vertical-align: top;	
	  		width: 30%;
	  		max-width: 10em;

	 		img {
	 			display: block;
				  width: 100%;
				  height: auto;
	 		}
 		}
	}

	.b-text {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			width: 70%;
			padding: 0 $pad;
		}
	}
}


/* Block Headline Summary */
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

/* Block Inset */
.block-inset {
	position: relative;

	.b-thumb {
		position: relative;
		z-index: 0;

		img {
			display: block;
		}
	}
}

/* Hero Block */
.block-inset {
	margin-bottom: $space-half;
	position: relative;

	.headline {
		font-size: 1.1em;
	}

	.b-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $dim;
		color: $white;
		padding: $pad-half;
	}
}

/* Block Thumb with Summary */
.block-thumb-summary {
	.b-thumb {
		float: left;
		width: 50%;
	}

	.b-text {
		margin-left: 50%;
		padding: $pad-half;
	}
}


.ms-b{
	background:$ims-teal;
	padding:4em;
	text-align:left;
	height:300px;


	@media all and (max-width: $bp-med) {
	padding:2em;
	height:auto;

	}
	
	ul{
		text-align:center;
		@media all and (min-width: $bp-med) {
			//display:flex;
			//display:-webkit-flex;
			text-align:left;
		}

	}
	.ms-t{

		padding-left:0.5em;
		color:white;
		float:right;
		width:78%;
		padding-top:1em;
		height:220px;

		@media all and (max-width: $bp-med) {
			padding-left:0;
			float:none;
			width:100%
		}

		h2{
			border-bottom:2px solid $gray;
			padding:20px;
			padding:2rem;
			padding-bottom:10px;
			padding-bottom:1rem;
			padding-top:0.2em;
			text-transform:uppercase;
		
		}

		p{
			padding:10px 20px;
			padding:1rem 2rem;
			margin:0;
			padding-bottom:1.5em;

		}
	}

	.ms-i{
		background-image:url(../images/ms-icons.png);
		background-repeat:no-repeat;
		background-size:400% auto;
		overflow:hidden;
		width:20%;
		float:left;
		height:300px;
		max-width: 150px;
		
		@media all and (max-width: $bp-med) {
			background-size:400px auto;
			width:100px;
			height:100px;
			margin:$pad auto;
			float:none;
		}
		

	}	
}

.cl-b{
	background:$gray;
	padding:2em;
	text-align:left;
	margin-bottom:1em;
	color:white;

	@media all and (max-width: $bp-med) {
		
		padding:1em;


	}
	
	ul{
		text-align:center;
		@media all and (min-width: $bp-small) {
			
			text-align:left;
		}

	}
	.cl-t{

		padding-left:0.5em;
		color:white;
		text-align:center;

		@media all and (max-width: $bp-small) {
			padding-left:0;
		}


		h2{
			border-bottom:2px solid white;
			
			padding-bottom:1rem;
			
			text-transform:uppercase;

			@media all and (max-width: $bp-large) {
			
			}
		i{
				color:$gray-light;
				font-size:1.2em;
			}
		}

		p{
			padding:10px 20px;
			padding:1rem 2rem;
			margin:0;
			padding-bottom:0;

			

		}
	}

	.cl-i{
		background-image:url(../images/cl-icons.png);
		background-repeat:no-repeat;
		background-size:300px auto;
		overflow:hidden;
		width:100px;
		height:101px;
		margin:0 auto;
		margin-bottom:1em;
		@media all and (max-width: $bp-small) {
			width:100px;
			margin:$pad auto;
		}
		
	}	
}

.oc-b{
	
	h2{
		text-transform:uppercase;
		border-bottom:2px solid;
		padding:10px;
		padding:1rem;
		padding-top:0;
	}	

	.oc-i{
		background-image:url(../images/oc-icons.png);
		background-repeat:no-repeat;
		background-size:200px auto;
		overflow:hidden;
		width:100px;
		height:100px;
		margin:0 auto;
		margin-bottom:10px;
		margin-bottom:1rem;
	}

	li{
		text-align:left;
		list-style: square inside none!important;
		padding:$pad;
	}
}

.sm-b{
	
	

	.slider-h{
		background:$ims-blue1;
		color:white;
		padding:1em;
		padding-bottom:2em;
		height: 420px;

		@media all and (max-width: $bp-xxl){
		height: 480px;
		}

		@media all and (max-width: $bp-xl) {
			padding:0.5em;
			height: 495px;
		}

		@media all and (max-width: $bp-large-2) {
			height: 570px;
		}

		@media all and (max-width: $bp-large){
			height: 600px;
		}

		h2{
			color:white;
			margin-bottom:$pad;
			padding:$pad 0;
			border-bottom:1px solid;
			text-transform:uppercase;
			@media all and (max-width: $bp-med) {
				
				margin:0;
			}
		}

		h3{
			text-transform:uppercase;
			margin-bottom:$pad-half;
		}

		p{
			color:$gray;
			font-size:1em;
			@media all and (max-width: $bp-med) {
				padding:0;
				margin:0;
			}
		}

	}

	.smi-i{

		background-image:url(../images/sm-icons.svg);
		background-repeat:no-repeat;
		background-size:500px auto;
		overflow:hidden;
		width:100px;
		height:100px;
		margin:0 auto;


	}

	color:$gray;

	.andig-i{

		background-image:url(../images/andig-i.png);
		background-repeat:no-repeat;
		background-size:100px auto;
		overflow:hidden;
		width:50px;
		height:50px;
		margin:0 auto;
		margin-bottom:0.5em;
		position:relative;
		z-index:9;	
	}

	.sm-sp,.sm-spt{
		width:60%;
		border-top:3px solid rgba($gray-light, .5);
		height:40px;
		text-align:center;
		position:relative;
		margin:0 auto;
	}

	.sm-sp{
		width:68%;
		display:none;

		@media all and (max-width: $bp-med) {
			display:block;

		}
	}

	.sm-spt{
		margin-top:-2em;
	}

	.triangle{

		width:40px;
		height:40px;
		margin:0 auto;
		margin-top:-3px;
	}
	.an{
		color:white;
		padding:1em;
		width:50%;
		margin:0 auto;
		@media all and (max-width: $bp-med) {
			width:98%;
		}
	}

	.dig{
		padding:1em 0;
		color:white;
		width:50%;
		margin:0 auto;
		@media all and (max-width: $bp-med) {
			width:98%;
		}
	}
}

.andigback{
	background-image:url(../images/andigback.gif);
	background-position:center;
	background-repeat:repeat-y;

	@media all and (max-width: $bp-med) {
		background-image:none;
	}
}

#rslides1_s1{
	.smi-i{
		background-position:-100px 0;
	}		
}

#rslides1_s2{
	.smi-i{
		background-position:-200px 0;
	}		
}

#rslides1_s3{
	.smi-i{
		background-position:-300px 0;
	}		
}

#rslides1_s4{
	.smi-i{
		background-position:-400px 0;
	}		
}

#dig{
	background-position: -50px 0;
	position:relative;

}

#opportunity{
	.oc-i{
		background-position:left top;

	}	
}

.ico{
	width:150px;
	margin:0 auto;
	margin-bottom:4em;
}

#challenge{
	.oc-i{
		background-position:-100px 0;
	}
	
}

#Listen{
	.ms-i{
		background-position:0 0;
	}

	background:rgba($ims-teal, 1);
}

#Categorise{
	.ms-i{
		background-position:33.3% 0;
	}

	background:rgba($ims-teal, .85);
}

#Analyse{
	.ms-i{
		background-position:66.7% 0;
	}	

	background:rgba($ims-teal, .75);
}

#Strategise{
	.ms-i{
		background-position:100% 0;
	}	
	background:rgba($ims-teal, .65);
}

#cl-1{
	.cl-i{
		background-position:0 0;
	}
}

#cl-2{
	.cl-i{
		background-position:-100px 0;
	}
}

#cl-3{
	.cl-i{
		background-position:-200px 0;
	}	
}

.table{
	
	margin:0 auto;
	align-items:stretch;
	


	.table-cell{
		float:left;	
		width:50%;
		margin: 0 auto;
		
		@media all and (max-width: 1217px) {
			
			width:100%;

		}
	}
}

.panel { 
	height: 186px;
}