/* Horizontal Carousel */
.carousel-horizontal {
	margin-bottom: $space;
	overflow: hidden;
	position: relative;
}

.carousel-island-container {
	overflow: hidden;
}

.carousel-container {
	position: relative;
}

.carousel-list {

}

.carousel-controls {
	display: table;
	width: 100%;
	margin: (-$space-half) 0 $space;

	a, div {
		display: table-cell;
		padding: $pad-half;
	}

	.carousel-pagination {
		text-align: center;
	}

	.carousel-next {
		text-align: right;
	}

}

.slider-wrapper{
	position:relative;
	width:100%;
	margin:0 auto;
}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background:white;

  @media all and (max-width: $bp-med) {
  	width:100%;
  }

  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  background:white;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


  .rslides_nav{
	 @media all and (min-width: $bp-med) {
		top:45%;
		position:absolute;
		top:40%;	
		z-index:9;
		text-indent: -9999px;
		overflow: hidden;
		text-decoration: none;
		height: 61px;
		width: 38px;
		background: transparent url("../themes/themes.gif") no-repeat scroll;
		display:block;
	}
	display:none;

	}
	
.prev{
	float:left;
	left:0; 
}	

.next{
	float:right;
	background-position:right top; 
	right:0;
}	

.rslides_tabs{

	text-align:center;
	width:60%;
	margin:0 auto;

	@media all and (max-width: $bp-med) {
		width:100%;
	}
	
	li{
	
		float:left;
		margin-right:0;
		width:20%;
	
	}

	a{
		text-indent: -9999px;
		overflow: hidden;
		
		background-repeat: no-repeat;
		background-size: 200%;

		background-position: left top;
		
		display: block;
		
	
		img{
			width:100%;
			display:block;
		}

	}
}



.rslides1_s1{
	
	a{
		background-image: url("../images/slider/si-1.png");
	}
}

.rslides1_s2{
	
	a{
		background-image: url("../images/slider/si-2.png");
	}
}

.rslides1_s3{
	
	a{
		background-image: url("../images/slider/si-3.png");
	}
}

.rslides1_s4{
	
	a{
		background-image: url("../images/slider/si-4.png");
	}
}

.rslides1_s5{
	
	a{
		background-image: url("../images/slider/si-5.png");
	}
}

.rslides_here {
	
	a{
		background-position: right top;
	}
}
	