/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
	//max-width: $max-width;	
	margin: 0 auto;
	//padding: $pad-half;
}

.cc{
	
	max-width: 45em;	
	margin: 0 auto;
	//padding: $pad-half;

}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/

/* Two Column Layout */
.l-two-col {
	@extend .cf;

	.l-main {
		@media all and (min-width: $bp-large) {
			float: left;
			width: 70%;
			padding-right: $pad;
		}
	}
	
	.l-sidebar {
		@media all and (max-width: $bp-large) {
			clear: both;
		}

		@media all and (min-width: $bp-large) {
			float: left;
			width: 30%;
			padding: 0 0 0 $pad;
		}
	}
}


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */
.g {
	overflow: hidden;
	margin: 0 (-$pad-half);
}

/* Grid Item */
.gi {
	padding: $pad-half;
	
	img {
		display: block;
	}

	@media all and (min-width: $bp-med) {
		float: left;
	}
}

/* Grid 1up */
.g-1up {
	.gi {
		width: 100%;
	}
}

/* Grid 2up */
.g-2up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(odd) {
				clear: left;
			}
		}
	}
}

/* Grid Half (Always displayed side by side) */
.g-half {
	> .gi {
		float: left;
		width: 50%;
		
		&:nth-of-type(odd) {
			clear: left;
		}
	}
}

/* Grid 3up */
.g-3up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 100%;
			
			&:nth-of-type(2n+1) {
				clear: left;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		> .gi {
			width: 33.3333333%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
}



/* Grid 4up */
.g-4up {
	@media all and (min-width: $bp-med) {
		>.gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		>.gi {
			width: 25%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/* Grid Quarter (Always displayed side by side) */
.g-quarter {
	> .gi {
		float: left;
		width: 24%;
		
		&:nth-of-type(4n+1) {
			clear: left;
		}
	}
}

.g-max4 {

	@media all and (min-width: $bp-small-2) {
		>.gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@media all and (min-width: $bp-small-3) {
		>.gi {
			width: 33.3333333%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		>.gi {
			width: 25%;
			
			&:nth-of-type(3n+1) {
				clear: none;
			}
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 5up */
.g-max5 {

	>.gi {
		float: left;
		width: 50%;
		
		&:nth-of-type(2n+1) {
			clear: both;
		}
	}

	@media all and (min-width: $bp-small-3) {
		>.gi {
			width: 33.3333333%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
	
	@media all and (min-width: $bp-med) {
		>.gi {
			width: 25%;
			
			&:nth-of-type(3n+1) {
				clear: none;
			}
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-med-2) {
		>.gi {
			width: 20%;
			
			&:nth-of-type(4n+1) {
				clear: none;
			}
			
			&:nth-of-type(5n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 2/3 */
.gi-2-3 {
	@media all and (min-width: $bp-med) {
		float: left;
		width: 66.666666%;
	}
}

.gi-1-3 {
	@media all and (min-width: $bp-med) {
		float: left;
		width: 33.333333%;
	}
}

/* Grid 4up block */
.g-opposites {
	.gi {
		float: left;
		
		&:last-child {
			float: right;
			text-align: right;
		}
	}
}

.dm{
	
	background:$ims-coral;

	padding:4em;
	color:white;
	@media all and (max-width:$bp-med) {
		padding:2em;
	}

	@media all and (max-width:$bp-small) {
		padding:2em 1em;
	}

}

.pe{
	
	background:$gray-light-2;
	padding:4em;
	color:$gray;
	h1{
		color:$gray;
	}
	h2{
		color:$gray;
	}
	@media all and (max-width:$bp-med) {
		padding:2em;
	}

	@media all and (max-width:$bp-small) {
		padding:2em 1em;
	}
}

.sm{
	
	//background:rgba( $ims-blue1, .5 );
	color:$gray;
	padding:4em;
	color:white;
	h1,h2{
		color:$gray;
	}

	@media all and (max-width:$bp-med) {
		padding:1em;
	}
}

.um{
	
	background:$gray-light-2;
	padding:4em;
	
	@media all and (max-width:$bp-med) {
		padding:2em;
	}
}

.cl{
	
	background:$gray-light;
	padding:4em;
	
	@media all and (max-width:$bp-med) {
		padding:2em;
	}

}

.ch{
	
	background:$gray-light;
	padding:4em;
	
	@media all and (max-width:$bp-med) {
		padding:1em;
	}

}

.ms{
	
	background:white;
	padding:4em;
	
	@media all and (max-width:$bp-med) {
		padding:2em 1em;
	}

}

.char{
	
	background:white;
	padding:4em;
	
	@media all and (max-width:$bp-med) {
		padding:2em;
	}
	ul{
		margin-top:$pad-double;
	}
	li{
	border-bottom:1px solid $gray-light;
	padding:1em 0;

	&:first-child{
		border-top:1px solid $gray-light;
	}
	}

	 .charplus{
	 	border:1px solid rgba($ims-blue1, .1);
	 	background:rgba($ims-blue1, .05);
	 	padding:2em;
	 	text-align:center;
		

	 	img{
	 		margin:0 auto;
	 	}
	 }


}

.oc{
	
	background:rgba($gray-light, .5);
	padding:4em;
	
	@media all and (max-width:$bp-med) {
		padding:2em;
	}

}

.openers, .closers{
	
	background:$gray;
	padding:0em 4em 4em 4em;
	color:white;


	a{
		color:white;
		text-decoration:underline;
	}

	.social a{
		text-decoration:none;
	}
	
	@media all and (max-width:$bp-med) {
		padding:2em;
	}



}

.openers{
	
	#phone{
		width:300px;
		margin:0 auto;
		margin-bottom:0;
		margin-top:4em;
	}

	#shaddow{
		max-width:600px;
		margin:0 auto;
	}

	#header{
		width:300px;
		border-bottom:2px solid;
		margin:0 auto;
		padding:2rem;
		margin-bottom:2rem;
	}
}

#header {
	background-color: #3A4F5A;
	overflow: hidden;
	width: 100%;
	img {
		width: 252px;
		float: right;
		padding: 2em 2em 2em 0;

		@media all and (max-width: $bp-med){
			float: none;
			display: flex;
			padding: 2em 0 0 0;
			margin: 0 auto;
		}
	}
}

.chart-wrapper{
	
	 overflow: hidden; /* To clear contents */
    zoom: 1; /* To fix IE6 bugs with floats */

	.chart{

		float: left;
    	margin-left: -100%;
    	position: relative;
    	left: 100%;
    	width: 100%;

	
	}
}



