/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$gray : #3A4F5A;
$gray-light : #8EAFBF;
$gray-light-2 : #F7F5F4;
$gray-light-3 : #ddd;
$gray-med : #666;
$gray-dark : #333;
$gray-dark-2 : #131313;
$white : #fff;
$black : #000;
$dim : rgba(0,0,0,0.5);
$error : #f00;
$valid : #089e00;
$warning : #fff664;
$information : #000db5;


$ims-yellow: #FFCF32;


$ims-blue1: #25B4FF;
$ims-blue2: #1C2980;
$ims-blue3: #37DAD3;
$ims-teal: #69C3C6;
$ims-coral:#FB4F39;
$ims-orange:#FF940C;
$ims-green:#20C22F;

//Typography
$font : 'Montserrat', sans-serif;
$font-secondary : 'Montserrat', sans-serif;

$font-size-small : 0.75em;
$font-size-small-2 : 0.875em;
$font-size-med : 1em;
$font-size-med-2: 1.0625em;
$font-size-large : 1.4375em;


//Layout
$max-width: 62m;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

//