<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IMS Health - Understanding the digital landscape around diabetes</title>
		<meta name="description" content="Social media’s influence on healthcare has led to the emergence of the ‘engaged patient’">
		<!-- ======== CSS Files ========================================================= -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Merriweather:400italic' rel='stylesheet' type='text/css'>
		<link href="css/responsiveslides.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/animate.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/wow.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ims.js"></script>	
		<script type="text/javascript" src="js/responsiveslides.min.js"></script>
		<link href="https://fontastic.s3.amazonaws.com/EyYV86hsAoVJjN6AauUj6a/icons.css" rel="stylesheet">
		

		
		<script type="text/javascript">
			
			new WOW().init();

			$(document).ready(function(){

				$(".accordion").click(function(){
					
					$(this).toggleClass("open");

				})


				  $(function() {
				    $(".rslides").responsiveSlides({
				    	auto: false,             // Boolean: Animate automatically, true or false
						speed: 500,            // Integer: Speed of the transition, in milliseconds
						timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
						pager: true,           // Boolean: Show pager, true or false
						nav: true,             // Boolean: Show navigation, true or false
						random: false,          // Boolean: Randomize the order of the slides, true or false
						pause: true,           // Boolean: Pause on hover, true or false
						pauseControls: true,    // Boolean: Pause when hovering controls, true or false
						prevText: "Previous",   // String: Text for the "previous" button
						nextText: "Next",       // String: Text for the "next" button
						maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
						navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
						manualControls: "",     // Selector: Declare custom pager navigation
						namespace: "rslides",   // String: Change the default namespace used
						before: function(){},   // Function: Before callback
						after: function(){}     // Function: After callback
				    });

				


			  });

			})

		</script>
	</head>

	
	<body ng-app="imsApp">
		
		<div id="page" class="page">

			<div role="main" style="padding:0;">

				<div class="accordion-wrapper openers">

					<section id="disease-management" class="cc">
						
						<div class="g g-1up">
							
							<div class="gi text-block">
								
								<div id="header">
									<img src="images/ims-logo.svg" />		
								</div>

								<div id="phone">
									<img src="images/animation-6.gif" />
								</div>

								<div id="shaddow">
									<img src="images/shaddow.jpg" />
								</div>

								<h1>With the convergence of the digital, healthcare and life sciences worlds, patients are now better placed than ever to track, discover and understand their symptoms.</h1>


								<p>The pathways available to patients are changing at a staggering rate, with social media playing a key role at every step on the healthcare consumer journey.</p>


								 

								<p>This change of patient behavior and the unstructured diversity of data across tens of millions of sites provide a real challenge for orgnaizations to create actionable insight.</p>

								 

								<p>Undoubtedly, organizations can no longer afford to ignore the power of social media intelligence. Take a look to see how we can transform your data into powerful real-world insights reflecting market realities.</p>
							</div>
						</div>
					
					</section>

				</div>

				<div class="accordion-wrapper sm">

					<section id="disease-management" class="cc">
						
						<div class="g g-1up">
							
							<div class="gi text-block">

								<h1>Social media’s influence on healthcare has led to the emergence of the ‘engaged patient’</h1>
								
								<h2>Social media plays a key role at every step in the healthcare consumer journey</h2>
							
							</div>
						
						</div>
			
						<div class="g g-1up">
							
							<div class="gi text-block">

								<div class="slider-wrapper" ng-controller="smController">

									<ul class="rslides">
									  

									  <li class="sm-b" ng-repeat="comment in sm" id="{{ comment.id }}">
									  	
									  	<div class="slider-h">
									  		
									  		<div class="smi-i"></div>		
									  		
									  		<h2>{{ comment.title }}</h2>

									  		<br />
											<div class="sm-spt"></div>
										  	
										  	<div class="an">
										  		
										  		<div class="andig-i"></div>
										  		
										  		<h3>{{ comment.analogue }}</h3>

										  		<p>{{ comment.analogueComment }}</p>

										  	</div>

										  	<div class="sm-sp">
										  		<div class="triangle">
										  			<img src="images/triangle.svg" width="40" height="40"  />
										  		</div>
										  	</div>

										  	<div class="dig">
										  		
										  		<div class="andig-i" id="dig"></div>
												
										  		<h3>{{ comment.digital }}</h3>

										  		<p>{{ comment.digitalComment }}</p>

										  		

										  	</div>
											
									

										</div>
									  </li>
									  
									</ul>



								
								</div>

							</div>
						
						</div>
					
					</section>
				
				</div>

				<div class="accordion-wrapper um">
							
					<section id="u-message" class="cc">

						<div class="g g-1up">
									
							<div class="gi text-block-big">
								
								<div class="ico"><img class="wow bounceInDown" src="images/icon.svg" /></div>
								
								<h1 class="wow bounceIn">Understanding the digital resources available around diabetes and associated brands can generate value-adding insight to help understand this growing UK health issue</h1>

							
							</div>
						
						</div>


					</section>
				
				</div>
				
				<div ng-controller="clController">
					
					<div class="accordion-wrapper ch">
								
						<section id="u-message" class="">

							<div class="g g-1up">
								
								<div class="gi text-block">

									<h1>The UK Diabetes Landscape</h1>

								
								
								</div>
							
							</div>

							<div class="g g-3up">
								
								<div class="gi text-block" ng-repeat="comment in cl">
									
									<div>

										<div class="cl-b wow bounceInUp" data-delay="0.5s" id="{{ comment.id }}">

											<ul>

												<li class="cl-i"></li>

												<li class="cl-t">
													
													<h2>{{ comment.name }} </h2>
													
													<p>{{ comment.comment }} </p>
												
												</li>

											</ul>

										</div>
								
									</div>
								
								</div>

							</div>

						</section>
					
					</div>
				
				</div>

				<div class="accordion-wrapper char">
							
					<section id="disease-management" class="cc">
						
						<div class="g g-1up">
							
							<div class="gi text-block">
								
								<h1>The UK Diabetes conversation</h1>
								
								<h2>IMS Health has reviewed social media data around diabetes and associated brands from July 2014 to June 2015:</h2>

								<ul>
								
									<li class="wow bounceInLeft"><h3>560,024 conversations </h3></li>
									<li class="wow bounceInLeft"><h3>1,649,946 wikipedia page views</h3> </li>
									<li class="wow bounceInLeft"><h3>635,070 searches on Google </h3></li>
									<li class="wow bounceInLeft"><h3>12 Brands:</h3><b>Januvia, Trajenta, Galvus, Lantus, Levemir, Tresiba, Victoza, Lyxumia, Byetta, Invokana, Forxiga, Jardiance </b></li>
								
								</ul>

							</div>
						
						</div>

						

						<div class="g g-1up">
							
							<div class="gi text-block">

								<div class="chart-wrapper">

									<div class="chart">

										<img src="images/chart/twitter.svg" data-wow-delay="1s" class="f-image wow bounceInRight" />
										
										<img src="images/chart/facebook.svg"  data-wow-delay=".5s" class="f-image wow bounceInLeft" />
										
										<img src="images/chart/coments.svg" class=" wow bounceInUp" />
										
										<div style="clear:both; height:10px;"></div>

										<img src="images/chart/social.svg" alt="">

									</div>

								</div>
						
							</div>

						</div>

					</section>
				
				</div>


				<div ng-controller="dmController">

					<div class="s">

						<div class="accordion-wrapper dm">
							
							<section id="disease-management" class="cc">
								
								<div class="g g-1up">
									<div class="gi text-block">
										<h1>Disease Management</h1>
										<h2>14 785 conversations are about disease management</h2>
									</div>
								</div>
								
								<div class="g g-1up">
									
									<div class="gi text-block">

										<div ng-repeat="comment in dm" class="accordion wow bounceInUp">

											<h2>{{ comment.name }}</h2>
											
											<span class="icon"></span>
										
											<div class="quote">
												<i>"... {{ comment.comment }} ... "</i>
											</div>
										
										</div>

									</div>

								</div>
							
							</section>

						</div>
					
					</div>

				
				</div>

				<div ng-controller="peController">

					<div class="s">

						<div class="accordion-wrapper pe">
							
							<section id="patient-experience" class="cc">
								
								<div class="g g-1up">
									<div class="gi text-block">
										<h1>Patient Experience</h1>
										<h2>15 976 conversations are around diabetes brands, among which 4 882 are related to patient experience </h2>
									</div>
								</div>
								
								<div class="g g-1up">
									
									<div class="gi text-block">

										<div ng-repeat="comment in pe" class="accordion wow bounceInUp">

											<h2>{{ comment.name }}</h2>
											
											<span class="icon"></span>
										
											<div class="quote">
												<i>"... {{ comment.comment }} ... "</i>
											</div>
										
										</div>

									</div>

								</div>
							
							</section>

						</div>
					
					</div>

				
				</div>

				<div class="accordion-wrapper oc">
					
					<section id="opportunity-challlenge" class="cc">
						
						<div class="g g-1up">
								
							<div class="gi text-block wow bounceInDown">

								<h1>Social Media presents many opportunities for Healthcare organisations albeit with some challenges</h1>

							</div>
						
						</div>

	
						<div class="g g-2up">
								
							<div class="gi text-block wow bounceInLeft">

								<div class="oc-b" id="opportunity">
									
									<div class="oc-i"></div>

									<h2>The Opportunity</h2>

									<div ng-controller="opportunityController">
										
										<ul>
											<li ng-repeat="comment in opportunity" ng-bind-html="opportunity">{{ comment.comment }}</li>

										</ul>

									</div>
										


								</div>

							</div>
							
							<div class="gi text-block  wow bounceInRight">

								<div class="oc-b" id="challenge">
									
									<div class="oc-i"></div>

									<h2>The Challenge</h2>

									<div ng-controller="challengeController" >
										
										<ul>
											<li ng-repeat="comment in challenge" ng-bind-html="challenge">{{ comment.comment }}</li>

										</ul>

									</div>

								</div>

							</div>
						
						</div>

					</section>

				</div>
				
				<div ng-controller="msController">
				
					<div class="accordion-wrapper ms">

						<section id="making-sense" class="cc">
							
							<div class="g g-1up">
								
								<div class="gi text-block">

									<h1>Nexxus Social helps make sense of social media data </h1>
									
									<h2>Giving you the power to transform unfocussed information into actionable insights</h2>
								
								</div>
							
							</div>
				
							<div class="g g-1up">
								
								<div class="gi text-block">

									<div  ng-repeat="comment in ms">

										<div class="ms-b wow bounceInUp" data-delay="0.5s" id="{{ comment.name }}">

											<ul>

												<li class="ms-i"></li>

												<li class="ms-t">
													
													<h2>{{ comment.name }}</h2>
												
													<p>{{ comment.comment }}</p>
												
												</li>

											</ul>

										</div>

									</div>

									<div class="g g-1up">
								
										<div class="gi text-block">
											
											<p>Nexxus Social maps the patient’s journey and helps you understand patient sentiment, unmet needs and switching behaviour.</p>
										
											<p>It allows you to track and understand HCP needs and perceptions through their various statements in social, news and academic media.</p>

										</div>
									
									</div>

								</div>
							
							</div>
						
						</section>
					
					</div>
				
				</div>

				<div class="accordion-wrapper closers">

					<section id="get-in-touch" class="cc">
						
						<div class="g g-1up">
							
							<div class="gi text-block">

								<h1>Let Nexxus Social transform the social media data you need into actionable insights and opportunities</h1>
								<p>To find out more about how Nexxus Social can meet and match your specific business needs <a>please get in touch.</a></p>

								<ul class="social">
								<li><a><i class="icon-twitter"></i></a></li>
								<li><a><i class="icon-facebook-squared"></i></a></li>
								<li><a>www.website.com</a></li>
								</ul>


							</div>
						
						</div>
					
					</section>

				</div>

			</div>
		
		</div>


	   	
	   	
		

	</body>

</html>