.section {
	margin: 0 0 $space;
}

.section-title {
	margin-bottom: $space-half;
}

.smig{
	
	background: linear-gradient(
    to right, 
    #F7F5F4 50%, white 50%
  	);
  	padding:10em 0;

	.smig-t-wrapper{
		
		width: 300px;
		margin:0 auto;

		@media all and (max-width: $bp-med) {
			width: 200px;
			
		}

		.smig-t{
		
		  height: 300px;
		  width: 300px;
		  display: table-cell;
		  text-align: center;
		  vertical-align: middle;
		  border-radius: 50%;
		  background: #FFCF32;
		  position: relative;
		  z-index: 9;
			
			@media all and (max-width: $bp-med) {
				width: 200px;	
				height: 200px;	
			}	  
		}
	}

	.smig-wrapper{
		
		margin-top:-100px;

		@media all and (max-width: $bp-small) {
			margin-top:-50px;	
		}

		ul{
			
			display:flex;
			display:-webkit-flex;
			flex-direction: row;
			width:100%;
			padding:0;
			margin:0;
		

			li{
				width:50%;				
				vertical-align:middle;

				.smig-wrapper{
					width:25%;
					margin:0 auto;
					text-align: center;

					
					@media all and (max-width: $bp-small) {
						
						width:70%;
						padding-top:5em;
					
					}
				}

				h3{
					margin: 1em 0 0 0;
				}

			}

			.left-line{
				background-image:url(../images/left-line.svg);
				background-repeat:no-repeat;
				background-position:top right;
				background-size: 50%;
				height:140px;

				@media all and (max-width: $bp-small) {
					background-image:url(../images/left-line-m.svg);
					height: 80px;
				}
			}

			.right-line{
				background-image:url(../images/right-line.svg);
				background-repeat:no-repeat;
				background-position:top left;
				background-size: 50%;
				height:140px;
				@media all and (max-width: $bp-small) {
					height: 80px;
					background-image:url(../images/right-line-m.svg);
				}
			}

		}

		.smig-list{
			margin-top: -100px;
		}
	}
}