//Intro text
.intro {
	font-size: $font-size-med-2;
	font-weight: bold;
}

//Pullquote
.pullquote {
	font-family: $font-secondary;
	font-size: $font-size-large;
}

//Caption 
.caption {
	font-style: italic;
}

//Passages of text
.text {
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}

.share-icons {
	margin: 0 0 0.5em;
}

.text-block{
	padding: 3em 0.5em ;
	text-align:center;
}

.text-block-big{
	padding: 14em 0.5em ;
	text-align:center;
}

p{
	font-size:1.2rem;
}