/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	
	line-height:120%;
	font-size:2em;
	padding-bottom:1em;
	font-weight:normal;
	
}

h2, .beta    { 
	line-height: 1.2;
	font-size:1.4em;
	font-weight:normal;
	padding-bottom: 1em;
}

h3, .gamma   { 
	line-height: 1.2;
}

h4, .delta   {
	
}

h5, .epsilon { 
	
}

h6, .zeta    { 
	
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
