ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

.social{
	display:flex;
	width:48%;
	justify-content: center;
	margin: 0 auto;

	li{
		display:table-cell;
		vertical-align:middle;

	}
	a{
		text-decoration:none;
		display:block;
		padding:$pad-half;
	}
	i{
		font-size:2em;
	}
}

